{% extends 'home/home.html.twig' %}



{% block title %}
 Tous le paramètres
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(".panel-body").niceScroll();</script>
        <script type="text/javascript">
            $('#radioBtn a').each( function(){
                $(this).on("click", function () {
                    var sel = $(this).data('title');
                    var tog = $(this).data('toggle');
                    console.log(sel , '  ',tog)
                    $('#'+tog).prop('value', sel);

                    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive').css("background-color", "");
                    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active').css("background-color", "#3c8dbc");
                })
        })
    </script>
{% endblock %}
{% block  body  %}
    <div class="row" style="padding: 1%;">
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Ajouter un Constructeur</h4>
                    <div class="btn-group pull-right">
                        {#<a href="{{ path('admin_aprove_all') }}" class="btn btn-primary btn-sm fa fa-check-square fa-3x">   Approuver tous</a>#}
                    </div>
                </div>
                <div class="panel-body" id="PanelSearch" style="">
                    <form method="post" action="{{ path('admin_new_manuf') }}">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon" id="sizing-addon1" style="border-radius: 0;"><i class="fa fa-car"></i></span>
                            <input type="text" name="Const" class="form-control" placeholder="Nom du constructeur" aria-describedby="sizing-addon1" style="border-radius: 0;">
                        </div>
                        <a class="btn btn-outline-primary" href="">
                            <a onclick="$(this).closest('form').submit()" style="width: 100%; height: auto; background-color:#00add8; text-align: center; display: block; color: rgba(255,255,255,0.8); border-radius: 0" class="btn btn-sm">Ajouter à la base
                                 <i class="fa fa-database"></i>
                            </a>
                        </a>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Les Constructeurs dans la base</h4>
                    <div class="btn-group pull-right">
                        {#<a href="{{ path('admin_aprove_all') }}" class="btn btn-primary btn-sm fa fa-check-square fa-3x">   Approuver tous</a>#}
                    </div>
                </div>
                <div class="panel-body" id="PanelSearch" style="height: 320px; overflow-y: scroll">
                    <ul class="list-group">
                        {% for man in manuf %}
                                <li class="list-group-item clearfix" style="border-radius: 0;">
                                    <label>{{ man.nom }}</label>
                                    <a class="btn btn-danger pull-right glyphicon glyphicon-trash" href="{{ path('admin_delete_manuf', {'id': man.id }) }}" style="border-radius: 0;"></a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Paramètres du Site</h4>
                    <div class="btn-group pull-right">
                        {#<a href="{{ path('admin_aprove_all') }}" class="btn btn-primary btn-sm fa fa-check-square fa-3x">   Approuver tous</a>#}
                    </div>
                </div>
                <div class="panel-body" id="PanelSearch" style="">
                    <form method="post" action="{{ path('admin_site_params') }}">
                        <div class="row" style="padding: 0;">
                            <label for="happy" class="col-sm-7 col-md-7 control-label text-right">Activer L'approbation</label>
                            <div class="col-sm-5 col-md-5">
                                <div class="input-group">
                                    <div id="radioBtn" class="btn-group" style="border-radius: 0;">
                                        <a class="btn btn-primary btn-sm {{  validation!=0? 'active': 'notActive' }}" style="{{  validation!=0? 'background-color: #3c8dbc': '' }} ;border-radius: 0;" data-toggle="valid" data-title="Y">Oui</a>
                                        <a class="btn btn-primary btn-sm {{  validation!=0? 'notActive': 'active' }}" style="{{  validation!=0? '': 'background-color: #3c8dbc' }};border-radius: 0;" data-toggle="valid" data-title="N">Non</a>
                                    </div>
                                    <input type="hidden" name="valid" id="valid" value="{{  validation!=0? 'Y': 'N' }}">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 0; margin-top: 6%;">
                            <label for="happy" class="col-sm-7 col-md-7 control-label text-right">Activer les inscriptions</label>
                            <div class="col-sm-5 col-md-5">
                                <div class="input-group">
                                    <div id="radioBtn" class="btn-group" style="border-radius: 0;">
                                        <a class="btn btn-primary btn-sm {{  signup!=0? 'active': 'notActive' }}" style=" {{  signup!=0? 'background-color: #3c8dbc': '' }}; border-radius: 0;" data-toggle="inscr" data-title="Y">Oui</a>
                                        <a class="btn btn-primary btn-sm {{  signup!=0? 'notActive': 'active' }}" style="{{  signup!=0? '': 'background-color: #3c8dbc' }};border-radius: 0;" data-toggle="inscr" data-title="N">Non</a>
                                    </div>
                                    <input type="hidden" name="inscr" id="inscr" value="{{  messages!=0? 'Y': 'N' }}">
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-outline-primary" href="">
                            <a onclick="$(this).closest('form').submit()" style="width: 100%; height: auto; background-color:#00add8; text-align: center; display: block; color: rgba(255,255,255,0.8); border-radius: 0" class="btn btn-sm">Enregistrer Paramètres
                                <i class="fa fa-database"></i>
                            </a>
                        </a>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Ajouter Plus de notifications</h4>
                </div>
                <div class="panel-body" style="margin: 0">
                    <form method="post" name="NotificationForm" action="{{ path('admin_new_notification') }}">
                        <div class="row" style="padding-top: 0; padding-left: 0;padding-right: 0">
                            <div class="col-md-12">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon1" style="border-radius: 0;"><i class="fa fa-newspaper-o"></i></span>
                                    <input type="text" name="NotificaitonTitle" class="form-control" placeholder="Titre de Notification" aria-describedby="sizing-addon1" style="border-radius: 0;">
                                </div>

                                <div class="input-group " style="margin-top :3%; ">
                                    <span class="input-group-addon" id="" style="border-radius: 0;"><i class="fa fa-file-text-o"></i></span>
                                    <textarea class="form-control" id="NotificationText" name="NotificationText" style="width: 100%; border-radius: 0;" placeholder="Donner la description de la notification"></textarea>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-outline-primary" href="">
                            <a onclick="$(this).closest('form').submit()" style="width: 100%; height: auto; background-color:#00add8; text-align: center; display: block; color: rgba(255,255,255,0.8); border-radius: 0" class="btn btn-sm">Ajouter La notification
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </a>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Les notification existantes</h4>
                </div>
                <div class="panel-body" style="margin: 0;height: 320px; overflow-y: scroll">
                        <div class="row" style="padding-top: 0; padding-left: 0;padding-right: 0">
                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <ul class="list-group" style="width: 100%;">
                                    {% if notifications|length == 0 %}
                                        <li class="list-group-item">Vous n'avez pas ajouté de notifications</li>
                                    {% endif %}
                                    {% for key ,notif in notifications %}

                                        <li class="list-group-item clearfix" style="border-radius: 0;">
                                            <div class="row" style="margin: 0;">
                                                <div class="col-md-10 col-sm-10 col-lg-10 col-xs-10" style="padding: 0;">
                                                    <p style="padding: 0.6%;">{{ notif }}</p>
                                                </div>
                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2" style="padding: 0;">
                                                    <a class="btn btn-danger pull-right glyphicon glyphicon-trash" href="{{ path('admin_delete_notification', {'id': key }) }}" style="border-radius: 0;"></a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Modifier les arguments de la cote argus</h4>
                </div>
                <div class="panel-body" style="margin: 0;">
                    <div class="row" style="padding-top: 0; padding-left: 0;padding-right: 0">
                        <label style="margin-left: 1%;"> Réduction pour :</label>
                        <form action="/ArgusParams" method="post">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label>1ère année</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon1" style="border-radius: 0;"><i class="fa fa-newspaper-o"></i></span>
                                    <input type="text" name="Y1" class="form-control" placeholder="1ère année" aria-describedby="sizing-addon1" style="border-radius: 0;" value="{{ argusparams[0] }}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label>2ème année</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon1" style="border-radius: 0;"><i class="fa fa-newspaper-o"></i></span>
                                    <input type="text" name="Y2" class="form-control" placeholder="2ème année" aria-describedby="sizing-addon1" style="border-radius: 0;"value="{{ argusparams[1] }}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <label>Le reste</label>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="sizing-addon1" style="border-radius: 0;"><i class="fa fa-newspaper-o"></i></span>
                                    <input type="text" name="YX" class="form-control" placeholder="le reste" aria-describedby="sizing-addon1" style="border-radius: 0;" value="{{ argusparams[2] }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a class="btn btn-outline-primary" href="">
                                    <a onclick="$(this).closest('form').submit()" style="width: 100%; height: auto; background-color:#00add8; text-align: center; display: block; color: rgba(255,255,255,0.8); border-radius: 0" class="btn btn-sm">Enregistrer
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}