{% extends 'home/home.html.twig' %}

{% block title %}
Se Connecter
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> Login</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {{ form_start(loginform) }}
                    {{ form_row(loginform._username) }}
                    {{ form_row(loginform._password) }}
                <button type="submit" class="btn btn-success">Se connecter <span class="fa fa-lock"></span></button> <a href="{{ path('new_user') }}">Enregistrer</a>
                {{ form_end(loginform) }}
            </div>
        </div>
    </div>



{% endblock %}